#head{
    display: grid;
    justify-content: center;
}
#img{
    display: grid;
    justify-content: center;
}
.btn{
    background-color: red !important;
    color: white !important;
}
#sbtn{
    margin-left: 80px;
    border: none;
}